<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./card.scss" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <img class="photo" src="./photos/venecia.jpg" alt="venecia" />
        <div class="content">
          <h2 class="title">Title</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <div class="published">
            <p class="titlePublish">Published:</p>
            <p class="datePublish">March 20, 2020</p>
          </div>
          <button class="moreInfo">More info</button>
        </div>
      </div>
    </div>
  </body>
</html>
