<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles.scss" />
  </head>
  <body>
    <div class="container-themes">
      <div class="theme">
        <div class="color-div base">Base</div>
        <div class="color-div important">Important</div>
        <div class="color-div warning">Warning</div>
        <div class="principal-font margin-top">Principal Font</div>
        <div class="secondary-font margin-top">Secondary Font</div>
        <div class="color-div shadow-box margin-top">Box with shadow</div>
      </div>
    </div>
  </body>
</html>
