.base {
  background-color: palevioletred;
}

.important {
  background-color: orange;
}

.warning {
  background-color: red;
}

.shadow-box {
  background-color: palevioletred;
  box-shadow: 8px 8px 6px rosybrown;
}

.principal-font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.secondary-font {
  font-family: "Courier New", Courier, monospace;
}
